contourpy==1.0.7
fonttools==4.39.4
google-play-scraper==1.2.4
importlib-resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
pandas==2.0.1
Pillow==9.5.0
pyparsing==3.0.9
pytz==2023.3
pywin32==305.1
tzdata==2023.3
